/* Box sizing */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

/* Improve text rendering */
body {
   min-height: 100vh;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
}

/* Lists */
ul,
ol {
   list-style: none;
   padding: 0;
   margin: 0;
}

/* Links */
a {
   text-decoration: none;
   color: inherit;
}

/* Media */
img,
picture {
   max-width: 100%;
   display: block;
}

/* Form elements */
input,
button,
textarea,
select {
   font: inherit;
}
